<div class="container">
  <div class="row">
    <div class="col-md-4 is-centered edit-new-form">
      <h1>Edit fine</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @fine %> |
      <%= link_to 'Back', fines_path %>
    </div>
  </div>
</div>