<section class="container fine-section">
  <div class="col-md-12 fine-heading"> 
    Fines  
  </div>  
  <div class="col-md-10 fine-list">
    <div class="new-fine">
      <div class="is-right-aligned"> 
        <% if authorised?(FinesController, :new) %>
          <%= link_to image_tag('icon-add.png'), new_fine_path, :class => "no-hover" %>
          Propose fine
        <% end %>
      </div>        
    </div>        
    <% @fines.each do |fine| %>
      <%= render(fine) %>
    <% end %>    
  </div>
  <div class="col-md-2 user-list">
    <h2>The Team:</h2>
    <% @users.each do |user| %>
      <div class="user-line">
        <%= user.username %>
      </div>
    <% end %>
    <% if authorised?(UsersController, :index) %>
      <span class="is-right-aligned"><%= link_to 'Edit', users_path, :class => "no-hover" %></span>
    <% end %>
  </div>      
</section>



