/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_main
 *= require_tree .
 */

.logout-link {
  padding: 5px;
  border-radius: 5px;
  background-color: #386890;
  color: #fff;
  text-decoration: none;
}

.logout-link:hover {
  padding: 5px;
  border-radius: 5px;
  background-color: #386890;
  color: #1F9EDA;
  text-decoration: none;
}

.profile-bar-section {
  height: 85px;
  background-color: #F0F1F4;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 15px;
  padding: 10px;
}

.no-hover:hover {
  background: none;
}

