// Place all the styles related to the Fines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-fine {
  height: 30px;
}

.fine-section {
  margin-bottom: 15px;
  padding-top: 20px;
  
  .fine-heading {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 40px;
      color: #2d5a8b; 
    }

  .fine-list {    

    .fine {
      border: 1px solid #E8E8E8;
      background-color: #FBFBFB;  
      margin-bottom: 20px;
      padding: 10px;

      .offender-row {
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;

        .offender {
          color: #2d5a8b;
          font-size: 24px;
        }
      }
    }
  }
}

.proposer {
  color: #454147;
}

.date {
  font-style: italic;
}

.amount {
  font-size: 50px;
  padding: 20px;
}

.description {
  font-size: 16px;
  color: #a9a5aa;
  padding-left: 6px;
}

.fine-links {
  margin-left: 5px;
}

.thumbs-adjustment {
  padding-top: 2px;
  padding-left: 3px;
}

.bottom-row {
  padding-left: 16px;
  padding-bottom: 6px;
  padding-right: 10px;
}

.fine-info-row {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
}

/*
* form
*
*/

.edit-new-form {
  border: 1px solid #E8E8E8;
  background-color: #FBFBFB;  
  padding-bottom: 30px;
}

.form-container {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.text-area {
  width: 360px;
  height: 100px;
}

.form-row {
  padding-bottom: 15px;
}



