// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-line {
  border-bottom: 1px solid #B8B8B8;
  padding-bottom: 2px;
  padding-left: 2px;
}

.user-list-controls {
  margin-top: 5px;
}
